<% if signed_in? %>
<div>
	<dl>
		<dt>Email</dt>
 			<dd><%= current_user.email %></dd>
		<dt>Domain</dt>
		<dd><%= current_user.domain %></dd>
		<dt>Company</dt>
		<dd><%= current_user.company.name %></dd>
</div>
<% end %>